body {
    font-family: Arial, sans-serif;
}

#login-container,
#dashboard {
    margin: auto;
    width: 300px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input {
    display: block;
    width: 100%;
    margin: 10px 0;
    padding: 8px;
}

button {
    padding: 10px 15px;
    background-color: #28a745;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}

.header {
    text-align: center;
    background-color: #28a745;
    color: white;
    padding: 10px;
    margin: 0;
    font-size: 2em;
}
